#plugin-node {
  .globals {
    li {
      padding: 5px 10px;
      border-bottom: 1px solid #EDEDED;

      &:hover {
        background-color: #F9F9F9;
      }

      i {
        margin-right: 5px;
        cursor: pointer;

        &:hover {
          color: red;
        }
      }
    }
  }

  .bold-label {
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 20px;
  }
}
